/* 
    Created on : 17-mrt-2014, 14:58:29
    Author     : g.v.lankveld
*/

html {
    font-family: Helvetica, Arial, sans-serif
}

h1 {
    color: white;
    text-shadow: 0 0 0.2em #000;
    -moz-text-shadow: 0 0 0.2em #000;
    -webkit-text-shadow: 0 0 0.2em #000;
}

.centre-container {
    margin: auto;
    width: 500px;
}


* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  z-index:1000;
  width:100%;
  background-color:#283593;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo-image {
  font-size: 25px;
  font-weight: bold;
  margin-left:-15%;
}

.header a:hover {
  background-color: #283593;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a.logo-image {
    float: none;
    display: block;
    text-align: left;
    margin-left:8%;
  }
  
  .header-right {
    float: none;
  }
}

.grid-container {
  display: grid;
  grid-template:  / 32% 32% 32%;;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}